.page-title {
  text-align: center;
}

.center {
  max-width: 163px;
  text-align: center;
}

.relative{
  position: relative !important;
}
.icon-plus, .icon-pencil, .icon-remove{
  margin: 0px 10px;
}